<!DOCTYPE html>
<html>

<head>
    <title>Todo List</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'todo_list_update' todo_list_detail.id  %}">Edit</a>
                <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
            </p>

            <table>
                <theader>
                    <tr>
                        <th>Name</th>
                        <th>Due dates</th>
                    </tr>
                </theader>
                <tbody>
                    {% for item in todo_list_detail.items.all %}
                    <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
