<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <nav>
        <a href="{% url 'todo_list_list' %}">main page</a>
    </nav>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button>Update</button>
        </div>
    </main>
</body>

</html>
