<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
                <a href="{% url 'todo_item_create' %}">Creat a new item</a>
            </p>
            <table>

                <theader>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </theader>
                <tbody>
                    {% for item in todo_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}</a></td>
                        <td>{{ item.items.count }}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
